{% extends 'app_templates/base.html' %}
{% load bootstrap3%}
{% load static %}
{% load mathfilters %}

{% block content%}

<div class="pinsta row bg-light">
  <!-- section for sight balance -->
  <div class="col-md-2 empty-section"></div>
  <!-- section for posts-->
  <div class="col-md-5 row post-section">
    <div class="stories mb-10">

    </div>
    <!--posts-->
    <div class="user-posts card col-md-12 p-0 mt-0">
      <div class="card-header bg-white d-flex flex-row align-items-center">
        <img src="" alt="profile" class="thumbnail p-0 mr-5 ">
        <strong class="postusername p-auto">{{request.user.username}}</strong>
        <strong class="p-auto ml-auto ellip"><a href="">&hellip;</a></strong>
      </div>
      <div class="card-image">
        <img src="../../static/images/KlR73L.jpeg" alt="">
      </div>
      <div class="card-footer bg-white">
        <div class="d-flex flex-row">
          <p>
            <svg aria-label="Like" class="_8-yf5 mr-3" fill="#262626" height="24" role="img" viewBox="0 0 48 48"
              width="24">
              <path
                d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
              </path>
            </svg>
          </p>
          <p>
            <svg aria-label="Comment" class="_8-yf5 mr-3" fill="#262626" height="24" role="img" viewBox="0 0 48 48"
              width="24">
              <path clip-rule="evenodd"
                d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                fill-rule="evenodd"></path>
            </svg>
          </p>
          <p>
            <svg aria-label="Share Post" class="_8-yf5 " fill="#262626" height="24" role="img" viewBox="0 0 48 48"
              width="24">
              <path
                d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
              </path>
            </svg>
          </p>
          <p class="d-flex ml-auto">
            <svg aria-label="Save" class="_8-yf5 " fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24">
              <path
                d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">
              </path>
            </svg>
          </p>
        </div>
      </div>
      <div class="card-footer d-flex flex-column bg-white">
        <strong>546 likes</strong>
        <span class="d-flex flex-row">
          <p class="bold">{{request.user.username}}</p>
          <p class="pl-2">{{request.user.caption}} sample caption here</p>
        </span>
        <span>View all<a href=""> 111,240 comments</a></span>
        <span class="d-flex flex-row"><a href="" class="pr-2 bold"> follower-1</a>
          <p>Comment</p>
        </span>
        <span>days count</span>
      </div>
      <div class="card-footer bg-white">
        <form action="" class="d-flex flex-row mt-3 mb-3" class="emoji">
          <img src="../../static/images/smile.png" alt="smiley" width="30px" height="30px" class="mr-1">
          <input type="text" name="comment" placeholder="Add a comment..." class="col-md-10">

          <button
            class="post_comment col-md-1 d-flex flex-row align-items-center justify-content-center ml-3 bold">Post</button>
        </form>
      </div>
    </div>
  </div>

  <!-- section for suggestions -->
  <div class="col-md-3 row follow-section">
    <div class="col-md-4 row sidebar"></div>
    <div class="col-md-9">
      <div class="account row">
        <div class="profileimage col-md-3">
          <img src="{{request.user.photo_path.url}}" alt="profile">
        </div>
        <div class="username col-md-6">
          <h6 class="text-center">{{request.user.username}}</h6>
          <h6 class="text-center">{{request.user.first_name}} {{request.user.last_name}}</h6>
        </div>
        <div class="logout">
          <h5><a href="{% url 'logout'%}" class="link">switch</a></h5>
        </div>
      </div>
      <div class="suggestions row">
        <h5 class="col-md-8">
          Suggestions For You
        </h5>
        <p><a href="#">See All</a></p>
      </div>
      <footer>

        <p>&copy;2021 <span class="nav-brand">Pinstagram</span></p>
      </footer>
    </div>
  </div>
  <!-- section for sight balance -->
  <div class="col-md-2 empty-section"></div>
</div>


{%endblock%}