{% load bootstrap3%}
{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%if title%}
  <title>{{title}}</title>
  {%else%}
  <title>Create New Post</title>
  {%endif%}
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>

  <div class="create_post">
    <div class="modal_bg">
      <form action="{% url 'create_post'%}">
        
      </form>
    </div>
  </div>

</body>

</html>