{% load bootstrap3%}
{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%if title%}
  <title>{{title}}</title>
  {%else%}
  <title>Create New Post</title>
  {%endif%}
  {% block styles%}
  {%bootstrap_css%}
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">

  {%endblock%}
</head>

<body>

  <div class="create_post">
    <div class="modal_bg p-3">
      <form action="{% url 'create_post'%}" method="POST" class="create_post_form p-3" enctype="multipart/form-data">
        <h3 class="text-center">Share Your Post</h3>
        {%csrf_token%}
        {{form.as_p}}

        <button type="submit" class='create_post_btn'>Post</button>
      </form>
    </div>
  </div>

</body>

</html>